@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--light-gray);
}

.titulo {
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 1em;
    font-family: 'Outfit', sans-serif;
}

.subtitulo {
    color: var(--light-gray);
    font-weight: 400;
    font-size: 1em;
    font-family: 'Outfit', sans-serif;
}

.cartao {
    display: flex;
    flex-direction: column;
    width: 16vw;
    background-color: white;
    padding: 1em 1em 3em 1em;
    margin: auto;
    margin-top: 10em;
    border-radius: 1em;
}

.imagemQrCode {
    border-radius: 1em;
    margin-bottom: 3em;
}